@model SistemaControleAdvocaticio.Apresentacao.ViewModel.TipoAgendamentoViewModel

@{
    ViewData["Title"] = "Tipo de agendamento - Editar";
}

<div class="p-5">
    <form class="user" asp-action="Editar" asp-controller="TipoAgendamento">
    <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="form-group">
                <label asp-for="Codigo" class="fw-bold"></label>
                <input asp-for="Codigo" type="text" class="form-control form-control-user" id="idCodigo" aria-describedby="codigolHelp" placeholder="Informe o código do cliente">
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="form-group">
                <label asp-for="Descricao" class="fw-bold"></label>
                <input asp-for="Descricao" type="text" class="form-control form-control-user" id="idDescricao" aria-describedby="descricaoHelp" placeholder="Informe o CPF do cliente">
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
        
        <hr>
        
        <button type="submit" class="btn btn-primary btn-user btn-block" id="id1Login">Salvar</button>
    </form>
</div>